@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: 28 89% 54%;
}
html { scroll-behavior: smooth; }
.a11y-skip { position: absolute; left: -9999px; top: auto; width: 1px; height: 1px; overflow: hidden; }
.a11y-skip:focus { position: static; width: auto; height: auto; padding: .5rem 1rem; background: black; color: white; }
